.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 40rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: rotateX(5deg) rotateY(5deg);
    perspective: 1000px;
}

.left {
    display: flex;
}

.item {
    gap: 50px;
}

.itemImg {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.itemTitle {
    font-size: 24px;
    font-weight: bold;
}

.detailItem {
    margin-top: 10px;
}

.itemKey {
    font-weight: bold;
}

.itemValue {
    margin-left: 5px;
}

/* Add your other styles here */
